body {
  font-family: 'Raleway', sans-serif;
  margin: auto;
  width: 70%
}
.logo {
  width: 120px;
  height: 100%;
    padding-top: 3em;
}
li > a:visited {
  color: #0065FC;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: auto;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: 50%;
  align-content: space-around;
}
.menu > ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
section > h1 {
  padding-top: 3em;
}

div.menu ul > li {
  height: auto;
  padding-top: 3em;
}
.bouton-menu{
  margin: 15px 30px 15px 15px;
  color: black;
  height: 50px;
}
.bouton-menu-inscription {
  margin: 15px 50px 15px 15px;
  color: #0065FC;
  height: 50px;
  font-weight: bold;
}
li.bouton-menu:hover{
  color: #0065FC;
  cursor: pointer;
  border-top: 2px solid #0065FC;
}
.bouton-menu-inscription:hover{
  cursor: pointer;
}
h1 {
  font-size: 1.1em;
  margin-top: 50px;
  margin-bottom: 15px;
  height: 2%
}
input, button,.top {
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
button {
  background-color: #0065FC;
  color: white;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  font-family: 'Raleway', sans-serif;
  width: 100px;
}
button:hover {
  cursor: pointer;
}
.fondbleu{
  background-color: #DEEBFF;
}
.fondgris {
    background-color: #F2F2F2;
}
.recherche {
  display: flex;
  height: 45px;
  margin-bottom: 30px;
}
.recherche > i, button {
  height: 100%;
}
input {
  height: 95%;
}
.recherche > i.localisation {
  display: flex;
  background-color: #F2F2F2;
  color: black;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  width: 40px;
  align-items: center;
  justify-content: center;
}
.recherche > .icone-recherche {
  display: none;
}
.menu-filtres, .filtres {
  display: flex;
  height: 100%;
  align-items: center;
}
.icone-filtre {
  display: flex;
  color: #0065FC;
  border: 10px solid #DEEBFF;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  align-items: center;
  justify-content: center;
}
.menu-filtres {
  font-weight: bold;
  width: auto;
  height: 38px;
  margin-bottom: 30px;
}
.filtres{
  align-items: center;
  margin-left: 3%;
  border: 1px solid #F2F2F2;
  border-radius: 80px;
  padding-right: 10px;
}
div.filtres:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 330ms;
}
div.filtres:active{
  transform: scale(1);
  transition: 1ms;
}
.info {
  display: flex;
  align-items:
  center;
  height: 50px;
  margin-bottom: 2em;
}
section{
  margin: auto;
}
.icone-info {
  display: flex;
  color: #0065FC;
  margin-right: 1em;
  border: 2px solid #F2F2F2;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
}
.bluestar {
  color: #0065FC;
  margin: 1px;
}
.greystar {
  color: #DEEBFF;
  margin: 1px;
}
#corps {
  display: flex;
  width: 100%;
}
.hebergements > h1 {
  margin-bottom: 2em;
}
.hebergements{
width: 70%;
background-color: #F2F2F2;
border-radius: 20px;
padding: 0 1em 0 1em;
margin-right: 5em;
}
.rang1, .rang2 {
  display: flex;
  justify-content: space-between;
  height: 18em;
  margin-bottom: 25px;
  padding-right: 1em;
}
.lieu {
  border-radius: 20px;
  background-color: white;
  padding: 5px 5px 5px 5px;
  width:100%;
}
.lieu:hover, .cartepopu, .act, .activité {
  cursor: pointer;
}
div.lieu > img {
  width: 100%;
  height: 150px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.rang1 > a {
  width: 30%;
}
.rang2 > a {
  width: 30%;
}
.populaire{
  width: 30%;
  background-color: #F2F2F2;
  border-radius: 20px;
  padding-left: 1em;
  padding-right: 2em;
}
.titre-populaire {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cartepopu{
  border-radius: 20px;
  background-color: white;
  padding: 5px 5px 0 5px;
  width: 100%;
  height: 155px;
  display: flex;
  margin-bottom: 4em;
}
div.imgpopu > img {
  width: 150px;
  height: 150px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.textpopu {
  margin-left: 1em;
}
.textpopu > p {
  margin-bottom: 2em;
}
.contentactivités {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.activité {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 105%;
  border-radius: 20px;
  box-shadow: 10px 5px 5px #F2F2F2, 10px 5px 5px #F2F2F2;
}
.activité > img {
  width: 100%;
  height: 90%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activitédouble {
  width: 100%;
  height: 40%;
  border-radius: 20px;
  box-shadow: 10px 5px 5px #F2F2F2, 10px 5px 5px #F2F2F2;
  margin-bottom: 1em;
}
.activitédouble > img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activité60 {
  display: flex;
  flex-direction: column;
  height: 60%;
}
.activité60 >img  {
  height: 80%;
}
.activité40 {
  display: flex;
  flex-direction: column;
  height: 40%;
}
.activité40 >img  {
  height: 70%;
}
.activité50 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  height: 50%;
}
.activité50 >img  {
  height: 70%;
}
h4 {
  margin-left: 0.8em;
}
.act {
  flex-direction: column;
  width: 20%;
  height: 100%;
  border-radius: 20px;
}
.contentactivités > a {
  width: 20%;
}
footer {
  display: flex;
  margin-top: 5em;
  margin-bottom:5em;
  background-color: #F2F2F2;
  width:100%;
}
.colonne {
  margin-right:auto;
}
.colonne > h3 {
  padding-left: 2em;
}
ul {
  list-style-type: none;
}
li {
  margin-bottom: 0.8em;
}


@media all and (max-width: 991.98px) {
  body {
    width: 90%;
  }
  #corps{
    flex-direction: column;
  }
  .hebergements {
    width: 100%;
    margin-bottom: 2em;
  }
  .lieu {
    margin-bottom: 2em;
  }
  .populaire {
    width: 98%;
  }
  .cartepopu {
    margin-bottom: 2em;
  }
  .cartepopu {
    width: 100%;
  }
  .contentactivités {
    width: 100%;
  }
}

@media all and (max-device-width: 575.98px){
  body {
    width: 90%;
    background-color: gray;
  }
  header {
    flex-direction: column;
    height:200px;
  }
  .bouton-menu:hover {
  border:none
  }
  button {
    display: none;
  }
  .recherche > .icone-recherche {
    display: contents;
    border-radius: 11px;
    display: flex;
    color: white;
    background-color: #0065FC;
    width: 45px;
    align-items: center;
    justify-content: center;
    margin-left: -1em;
  }

section#corps {
  flex-direction: column-reverse;
}
  .populaire {
    margin-bottom: 2em;
  }
  .rang1, .rang2
  {
    width: 100%;
  }
  .hebergements{
    width: 100%;
  }

}
